
.boss_home_category {overflow: hidden; margin-bottom: 45px;}
.boss_home_category ul li{display: inline-block;list-style: none;width: 140px;margin-bottom: 40px; margin-right: 10px}


.hc-box-product .image {
	display: block;
	margin-bottom: 15px;
}
.hc-box-product .image img {
}
.hc-box-product .name{margin-bottom:5px}
.hc-box-product .name a {
	color: #424141;
}
.hc-box-product .price {
	display: block;
	font-weight: bold;
	color: #20201f;
	margin-bottom: 4px;
}
.hc-box-product .price-old {
	color: #868585;
	text-decoration: line-through;
}
.hc-box-product .price-new {
	font-weight: bold; margin-left:10px
}
.hc-box-product .rating {
	display: block;
	margin-bottom: 4px;
}

/* Elastislide Style */
.es-carousel-wrapper  ul, .es-carousel-wrapper li{ 
	margin:0;
	padding:0;
}
.es-carousel-wrapper{
}
.es-carousel{
	overflow:hidden;background:none;
}
.es-carousel ul{
	
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li.last{margin-bottom:0}
.es-carousel ul li a{

}
.es-carousel ul li a img{
	
	border:none;
	max-height:100%;
	
}
.es-nav span{
	position:absolute;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	background:url(../image/popular_pre.jpg) no-repeat;
	width:32px; height:32px;
	right:31px;
	top:10px;
}
.es-nav span:hover{background:url(../image/popular_pre_hover.jpg) no-repeat;}
.es-nav span.es-nav-next{
	right:0;
	top:10px;
	background:url(../image/popular_next.jpg) no-repeat;
	width:32px; height:32px;
}
.es-nav span.es-nav-next:hover{background:url(../image/popular_next_hover.jpg) no-repeat;}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	.skin-opencart {width:100%!important;overflow:hidden}
.skin-opencart li{width:44%!important;margin:10px!important;min-height:170px;display:inline-block;}
.boss_home_category  .es-nav{display:none!important}
}

@media only screen and (max-width: 479px) { 
.boss_home_category{position:relative;width:100%;overflow:hidden}
.skin-opencart {width:100%!important;overflow:hidden}
.skin-opencart li{width:100%!important}
.boss_home_category .es-nav{display:none!important}
}

