.boss_category_box {width:175px; padding-right:10px}
#container{position:relative;}
#powered{position:absolute;bottom:0px;left:0;width:100%}
.boss_paypal{min-height:223px;}
.acount .content-logged, .acount .login-frame input, #search-form #search-form-bot input{height:19px; padding-bottom:6px}