#language a b{font-weight:normal; padding-left:5px}
#currency a b{font-weight:normal; height:26px; padding-bottom: 6px; padding-top:6px}
#header #cart .heading a span{line-height:33px}
.boss_category_box {width:173px; padding-right:12px}
.wishlist-info tbody .price b{font-weight:600}
#header #welcome{padding-top:8px}
#header .acount a.login-icon, #header .contact-us a, #header #search a{padding-top:5px}